<div class="container p-24">

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">

      <h1 class="title">Sugestões</h1>

      <%= form_for(Suggestion.new, html: { class: 'm-bottom-24' }) do |f| %>
        <div class="field">
          <label class="label">Mensagem</label>
          <div class="control">
            <%= f.text_area :text, class: 'textarea' %>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <%= f.submit class: 'button is-link', value: 'Enviar' %>
          </div>
        </div>
      <% end %>

      <ul>
      <% @suggestions.each do |suggestion| %>
        <li class="card">
          <%= link_to '', suggestion, class: 'delete is-pulled-right m-9 is-small', method: 'delete' %>
          <div class="card-content">

            <%= suggestion.text %>
          </div>
        </li>
      <% end %>
      </ul>

    </div>
  </div>

</div>
